.add-movie * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-movie .row {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.add-movie .column {
    width: 48%;
    height: fit-content;
    margin: 5px;
    justify-content: space-evenly;
    display:flex;
    flex-direction: column;
}

.add-movie .movie-col {
    justify-content: center;
    align-items: center;
}

.add-movie .min-column {
    display: flex;
    flex-direction: column;
}

.add-movie .movie-image {
    width: 340px;
    height: 450px;
    background-color: #1E1E1E;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.add-movie input {
    background-color: #1E1E1E;
    border: 0;
    font-size: 15px;
    padding: 10px;
    width: 350px;
    border-radius: 6px;
    color: white;
}

.add-movie input:focus-visible {
    outline: 0;
}

.add-movie label {
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: bold;
}

.add-movie textarea, textarea:focus-visible {
    outline: 0;
    background-color: #1E1E1E;
    border: 0;
    font-size: 15px;
    padding: 10px;
    width: 500px;
    border-radius: 6px;
    color: white;
}

.add-movie input[type=file] {
    margin-top: 5px;
}

.add-movie .save-btn, .btn {
    background-color: #008698;
    border: 0;
    border-radius: 6px;
    font-size: 18px;
    color: white;
    padding: 7px 20px;
    cursor: pointer;
    margin-right: 50px;
}

.add-movie .save-btn-row {
    margin-left: 50px;
    justify-content: flex-end;
}

.add-movie .cover-column {
    margin-top: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

.add-movie .cover-image {
    background-color: #1E1E1E;
    width: 100%;
    aspect-ratio: 3;
    border-radius: 10px;
}

.add-movie .error-row {
    display: flex;
    flex: 1 1 0;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 30px;
    /* background-color: red; */
}

.time-slot-row {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.time-slot-row input {
    width: 100px;
}

.column > .min-column {
    margin-top: 20px;
}
