@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --body-background: white;
    --gray:gray;
    --red-primery:#A91D3A;  
    --red-secontary:#C73659; 
    --black:#121212;   
    --Poppins: "Poppins", sans-serif;
    --main-font-size:34.56px;
    --sub-font-size:28.80px;
    --small-font-size:24px;
    --tinny-font-size:16.67px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}
.seat-selection-main-div{
    height: auto;
    width: 100%;
}
/* ---------------------------------header------------- */

.header-sec{
    width: 100%;
    height: 70vh;
    /* background-color: var(--gray); */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: var(--red-primery);
    background: url(../images/bgimage2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box; 
}
.nav-div{
    width: 100%;
    height: 10vh;
    background-color: var(--body-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    z-index: 100;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.sec-0{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}
.sec-1{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.sec-2{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.nav-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nav-items a {
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
    color: var(--gray);
}
.nav-items a:hover{
    color: var(--red-primery);
}

.nav-items a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--red-primery);
    color: var(--red-primery);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s ease;
}

.nav-items a:hover::after {
    width: 100%;
}

 .sec-1-child{
   margin-right: 20px;
 }
 .login-btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--body-background);
    border: 1px solid var(--black);
    cursor: pointer;
 }
 .login-btn:hover{
    box-shadow: 0 4px 6px rgba(199, 54, 89, 0.2), 
    0 -4px 6px rgba(199, 54, 89, 0.2),
    4px 0 6px rgba(199, 54, 89, 0.2), 
    -4px 0 6px rgba(199, 54, 89, 0.2);
    border: 1px solid var(--red-primery);
    color: var(--red-primery);
 }

 .movie-image-div{
    width: 100%;
    height: 15vh;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    margin-top: 55vh;
    padding-left: 80px;
    padding-right: 80px;
 }
 .container-1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
 }
 .colum-1{
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
 }
 .movie-name{
    font-size: var(--main-font-size);
    color:white;
 }
 .language{
    color: white;
    font-size: var(--tinny-font-size);
    font-weight: 300;
 }
 .colum-2{
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
   
 }
 .colum-3{
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
 }
 .colum-3 .one{
    color: white;
 }

 .container-2{
    width: 50%;
    height: 100%;
    display: flex;
 }
 .container-2-sec-1{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
 }
 .rgt-colum1{
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--tinny-font-size);
 }
 .rgt-colum2{
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: flex-end;
 }
 .cast-round-div{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #a7a7a7;
    margin-right: 10px;
 }
 .rgt-colum3{
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
 }
 .cast-name{
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
 }

 .container-2-sec-2{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
 }
 .rgt-colum4{
    width: 100%;
    align-items: end;
    justify-content: flex-start;
 }
 .rgt-colum5{
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
 }
 .rgt-colum6{
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
 }
/* ---------------------middle part---------------------- */

.movie-details-top-div{
    width: 100%;
    height: 10vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    gap: 5px;
}
.date-div{
    width: 8%;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--black);
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.thetre-name-div{
    width: 15%;
    height: 45px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.theatre-name{
    color: #121212;
    font-weight: 500;
}
.time-div{
    width: 8%;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--black);
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}
.screen-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:auto;
    background-color: white;
    margin: 0;
}

.theater-screen {
    width: 50%;
    height: 20vh;
    background-color: gray;
    border-radius: 5px / 5px;
    position: relative;
    transform: perspective(650px) rotateX(120deg);
    box-shadow: 0 -50px 40px rgba(0, 0, 0, 0.4);
}

.seat-container {
    background-color: white;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.sec-top {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.child-div {
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-div-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seat-box-booked {
    width: 25px;
    height: 25px;
    background-color:var(--red-primery);
    border-radius: 5px;
}

.seat-box-available {
    width: 25px;
    height: 25px;
    background-color: rgb(15, 126, 0);
    border-radius: 5px;
}
#span{
    color: gray;
    font-weight: 500;
}

.sec-bottom {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    margin-bottom: 10px;
}
.coloum{
    width: 5.5%;
    height: 100%;
    background-color: white;
    margin-left: 0.3%;
    margin-right: 0.3%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.coloum .row{
    width: 80%;
    height: 5.3vh;
    margin-top: 5px;
    background-color: gray;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.coloum .row:hover{
    background-color: rgb(73, 73, 73);
}
.coloum #letter{
    background-color: white;
    color: gray;
    font-weight: 600;
    cursor: auto;
}
.btn-div{
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-div button{
    width: 100px;
    height: 35px;
    color: var(--black);
    font-weight: 500;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: white;
}
.btn-div button:hover{
    box-shadow: 0 4px 6px rgba(199, 54, 89, 0.2), 
    0 -4px 6px rgba(199, 54, 89, 0.2),
    4px 0 6px rgba(199, 54, 89, 0.2), 
    -4px 0 6px rgba(199, 54, 89, 0.2);
    border: 2px solid var(--red-primery);
   color: #920000;
}

/* -----------------footer part-------------------- */


.footer-main-div{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  
}

.middle-div{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hr-div{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
   
}
.hr-div-left, .hr-div-right{
    width: 30%;
    height: 2px;
    background-color: #121212;
}
.container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left-main-conatiner{
    width: 50%;
    height: 100%;
}
.logo-div{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #121212;
    font-size: var(--small-font-size);
    font-weight: 500;
}
.details-div{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    color: gray;
    font-size: 14px;
    font-weight: 500;

}
.right-main-conatiner{
    width: 30%;
    height: 100%;
    display: flex;
}
.sec1{
    width: 33.33%;
    height: auto;
}
.footer-heading{
    color: #121212;
    font-weight: 500;
    font-size: 14;
}.footer-parts{
    color: gray;
    font-size: 14px;
    font-weight: 400;
}
